html, body {
  height: 100%;
  background-color: grey;
}

.box {
  background-color: cadetblue;
  color: white;
  padding: 20px;
  font-size: 17px;
  /* margin: 10px; */
}

.flex-container {
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-container > .box:nth-child(1) {
  background-color: red;
  align-self: center;
}